@import url('https://fonts.cdnfonts.com/css/voga');
@import "./colors.scss";

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Consolas, monaco, monospace;
  background: $elegant-blue;
}
